/* ----- principal colors ----- */

:root {
    --indigo: #1D3958;
    --light-gray: #F5F3F5;
    --coffe: #B18F63;
    --creme: #DFDCD0;
    --charcoal: #322F31;
}

/* ----- reset ----- */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box; 
}

body {
    background-color: var(--creme);
}

header {
    width: 100%;
    background-color: var(--indigo);
}

.logo-title {
    color: var(--coffe);
    font-size: 20px;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
    color: var(--coffe);
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: var(--coffe);

    position: absolute;
    top: 0;
    width: 0;
    
    transition: all ease-in-out 300ms;
}

nav a:hover::before {
    width: 100%;
}

nav li {
    position: relative;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav-item {
    color: var(--creme);
    font-size: 15px;
    
}

/* toggle */
.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3.2px;
    background-color: var(--creme);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px){
    body{
        overflow: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: var(--indigo);
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    
    } 
    .nav-links li {
        opacity: 0;
    }
    .burger{
        display: block;
    }
   
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px)
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px)
}

/* ----- About Section ----- */

.banner img {
    max-width: 100%;
    max-height: 100%;
}