/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .nav-link {
    color: var(--light-gray);
    font-size: 5px;
}
    .main-info .container{
        bottom: -55px;       
    }
    
    .skill-sec {
        bottom: -65px;
    }

    .card {
    max-width: 400px;
}
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .nav-link {
        font-size: 16px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
      .nav-link {
        font-size: 16px;
    }
 }