/* Extra small devices */
@media screen and (min-width: 360px) {
    /* Header-section */
    .nav-link {
        font-size: 1em;
        }

    nav ul {
        flex-direction: column;
        padding-top: 1.6em;
        }
    
    /* Main-section */

    .main-info .container {
        bottom: -45px;
    }

    /* skill-section */

    .skill-sec {
        bottom: -70px;
    }

    /* projects-section */

    .card {
    max-width: 350px;
    margin: 8px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .nav-link {
    font-size: 1.1em;
    }

    nav ul {
        flex-direction: column;
    }

    .main-info .container{
        bottom: -55px;       
    }
    
    .skill-sec {
        bottom: -80px;
    }

    .card {
    max-width: 350px;
    margin: 8px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .main-info .container{
        bottom: -65px;       
    }


    .card {
        margin: 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .nav-link {
        font-size: 1.2em;
    }

    .card {
        max-width: 450px;
        margin-bottom: 8px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* .nav-link {
        font-size: 16px;
    } */

    .card {
        max-width: 545px;
        margin-bottom: 10px;
    }

 }